* {
    font-family: "Sen-Regular", sans-serif;
}

.container {
    position: relative;
    width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Sen-Regular", sans-serif;
}

.faq {
    background-image: url('../assets/images/faq.png');
    background-size: cover;
    height: 700px;
    position: relative;
    background-repeat: no-repeat;
    width: 100%;
    background-position: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.faq::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 700px;
    background-color: rgba(39, 178, 149, .24);
    z-index: 1;
}

.faq-intro {
    position: absolute;
    top: 50%;
    right: 43%;
    transform: translate( 75%, -50% );
    width: auto;
    height: auto;
    background: #125D4D;
    color: white;
    text-align: center;
    padding: 24px 31px;
    z-index: 2;
}

.faq-intro span {
    font-family: "Sen-Bold", sans-serif;
    font-size: 38px;
    margin-bottom: 20px;
}

.subheader {
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 30px;
    margin: 10px 0 25px 0;
}

.light {
    font-family: 'OpenSans-Regular', sans-serif;
    font-weight: 100;
    line-height: 20px;
}
.faq-questions {
    color: #125D4D;
    font-family: "OpenSans-Regular", sans-serif;
}
.faq-questions p{
    font-family: 'OpenSans-Regular', sans-serif;
    line-height: 1.2em;
}

.faq-questions *:not(:first-child), .faq-questions *:not(:last-child) {
    margin: 15px 0 30px 0;
}

.faq-contact {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: antiquewhite;
    color: #125D4D;
    padding: 50px 250px;
}


.faq-contact span:first-child {
    font-family: "Sen-Bold", sans-serif;
    font-size: 42px;
    font-weight: 900;
}

.faq-contact p {
    font-size: 20px;
    margin-top: 25px;
    font-family: "OpenSans-Regular", sans-serif;
}

.contact-block {
    max-width: 450px;
    width: 450px;
    border-top: 8px #27B295 solid;
    height: 450px;
    background-color: white;
    max-height: 450px;
    align-items: center;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    box-shadow: 0 3px 6px #0000001a;
}

textarea, input {
    color: #125D4D;
    padding: 7.5px 0 7.5px 20px;
    width: 80%;
    border: 0.3px solid #000;
    border-radius: 8px;
    resize: none;
    font-family: "OpenSans-Regular", sans-serif;
}
input{
    margin-top: 3em;
}
textarea{
    margin-top: 1em;

}
input::placeholder, textarea::placeholder{
    color: rgba(18, 93, 77, .5);
}

.contact-block a {
    width: 200px;
    padding: 15px 0;
    align-items: center;
    text-decoration: none;
    font-family: "OpenSans-Regular", sans-serif;
    color: white;
    border: none;
    text-align: center;
    border-radius: 50px;
    background-color: #27B295;
    margin-top: 1em;
}

strong {
    font-family: "OpenSans-Bold", sans-serif;
}
.bold{
    font-family: 'OpenSans-Bold', sans-serif;
}

@media only screen and (max-width: 1400px) {
    .faq-contact {
        padding: 50px 75px 50px 75px;
    }
}

@media only screen and (max-width: 1024px) {
    .container {
        width: 80%;
    }

    .faq-contact-left {
        margin: 50px 0px;
    }
    
    .faq-contact {
        flex-direction: column;
    }
    .faq-intro {
        right: 77%;
        bottom: -105px;
        top: unset;
        width: 100%;
        padding: 24px 7px;
        z-index: 2;
    }

}

@media only screen and (max-width: 500px) {

    .faq-intro span {
        font-size: 24px;
    }

    .subheader {
        font-size: 17px;
        margin: 10px 0 15px 0;
    }

    .contact-block {
        width: 250px;
        margin-top: 74px;
        height: 250px;
    }

    .faq-contact span:first-child {
        font-size: 24px;
    }

    .faq-contact p {
        font-size: 15px;
        margin-top: 13px;
    }

    .contact-block a {
        width: 40%;
        padding: 9px 0;
        font-size: 1.4em;
        margin: 1em;
    }
}