.container {
    position: relative;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.container:first-of-type{
    margin: 50px auto 20px auto;
    width: 100%;
}
.background-image{
    width: 100%;
    height: calc(100vh - 220px);
    min-height: 510px;
    background-position: top center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../assets/images/home-hero.jpg')
}
.top-text-container{
    position: absolute;
    right: 20%;
    top: 20%;
    color: #fff;
    text-align: center;
    height: 50%;
}
.top-title {
    font-family: 'Sen-Bold', sans-serif;
    font-size: 36px;
    line-height: 1.12em;
}
.top-subtitle{
    font-family: 'Sen-Regular', sans-serif;
    line-height: 1.24em;
    margin-top: 1em;
    font-size: 18px;
    margin-bottom: 2.2em
}
.top-cta{
    font-size: 18px;
}
.lurebox{
    position: absolute;
    right: 10%;
    bottom: 0%;
    transform: translateY(35%);
    width: 35%;
}
@media only screen and (max-width: 1024px) {
    .lurebox {
        right: 11%;
        bottom: 0%;
        width: 40%;
    }

    .top-text-container {
        right: 4%;
        width: 80%;
        top: 15%;
        text-align: center;
        height: 50%;
    }

    .background-image {
        background-image:
        linear-gradient(to bottom, #00000036, #00000036),
        url('../assets/images/mobile-fisher.jpg');
    }
}

@media only screen and (max-width: 500px) {
    .lurebox {
        right: 11%;
        bottom: -17%;
        width: 50%;
    }
}
.roadmap{
    position: relative;
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.step{
    position: relative;
    width: 385px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.step:nth-of-type(even){
    /*align-items: flex-end;*/
    margin-top: 100px;
}
.step:nth-of-type(3){
    margin-top: 50px;
}
.step-header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.step-number{
    color: #fff;
    font-family: 'Sen-Bold', sans-serif;
    font-size: 40px;
    background-color: #125D4D;
    width: 1.5em;
    height: 1.5em;
    border-radius: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.step-number > *{
    -webkit-transform: translateX(3px);
    -moz-transform: translateX(3px);
    -ms-transform: translateX(3px);
    -o-transform: translateX(3px);
    transform: translateX(3px);
}
.step-title{
    font-family: 'Sen-Bold', sans-serif;
    font-size: 24px;
    margin-left: 1.2em;
    color: #125D4D;
}
.step-paragraph{
    font-family: 'OpenSans-Regular', sans-serif;
    font-size: 16px;
    margin-top: 2em;
    line-height: 1.2em;
    margin-bottom: 1em;
}
.step-link{
    font-family: 'OpenSans-Regular', sans-serif;
    color: #125D4D;
    font-size: 16px;
    transition: .3s ease;
}
.step-link:hover{
    color: #27B295;

}
/* Slider */

.slider-container{
    width: 100%;
    height: calc(100vh - 225px);
    min-height: 700px;
    position: relative;
    margin-top: 100px
}
.slide{
    display: none;
    background-color: #F0D5B0;
    width: 100%;
    height: 100%;
}
.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    padding: 50px;
    color: #000;
    transition: .6s ease;
    -webkit-border-radius: 0 3px 3px 0;
    -moz-border-radius: 0 3px 3px 0;
    border-radius: 0 3px 3px 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 40px
}
.next{
    right: 0;
    -webkit-border-radius: 3px 0 0 3px;
    -moz-border-radius: 3px 0 0 3px;
    border-radius: 3px 0 0 3px;
}
.slide-number{
    position: absolute;
    font-size: 16px;
    top: 0;
    padding: 8px 12px;
    font-family: 'Sen-Bold', sans-serif;
    font-size: 16px;
}
.dots{
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.dot{
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgba(18, 93, 77, .4);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    transition: background-color .6s ease;
}
.active, .dot:hover{
    cursor: pointer;
    background-color: #125D4D;
}
.fade{
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
}
@-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
.slider-wrapper{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.slider-top{
    width: 100%;
    height: 30%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 5%;
}
.lurebox-container{
    position: relative;
    height: 100%;
    width: 50%;

}
.slider-lurebox{
    position: relative;
    max-width: 100%;
    max-height: 100%;
}
.slider-text-container{
    text-align: center;
    color: #125D4D;
}
.slider-title{
    font-size: 32px;
    font-family: 'Sen', sans-serif;
    line-height: 1.12em;
    margin-bottom: 1em;
}
.slider-subtitle{
    font-family: 'OpenSans-Regular', sans-serif;
    line-height: 1.24em;
}
.lurebox-contains{
    position: relative;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 10%;
}
.lurebox-item{
    position: relative;
    width: 25%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.row-one{
    width: 33%;
}
.lure-container{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.lure{
    position: relative;
    max-width: 80%;
    max-height: 80%;
}
.lurename{
    font-family: 'Sen', sans-serif;
    font-size: 20px;
    color: #125D4D;
    text-align: center;
    height: 2em;
}

@media only screen and (max-width: 1024px) {
    .slider-container {
        height: 100%;
        min-height: 0px;
    }

    .lurebox-contains {
        margin-bottom: 20%;
    }

    .slider-wrapper {
        width: 100%;
    }

    .slider-top {
        flex-direction: column-reverse;
    }

    .slider-text-container {
        padding: 4% 0;
    }

    .prev, .next {
        padding: 16px;
    }

    .lurebox-item {
        width: 20%;
        height: auto;
    }

    .row-one {
        width: 27%;
    }

    .lurename {
        font-size: 14px;
        margin-top: 20px;
    }
}

@media only screen and (max-width: 500px) {
    .lurename {
        font-size: 9px;
    }
}
/* Share section */
.share-container{
    width: 1000px;
    height: calc(100vh - 225px);
    min-height: 700px;
    position: relative;
    margin: 100px auto 0 auto;
}
.share-top{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 20%;
}
.share-title{
    font-family: "Sen-Bold", sans-serif;
    font-size: 32px;
    color: #125D4D;
    text-align: center;
    line-height: 1.5em;
}
.share-title span{
    color: #fff;
    background-color: #125D4D;
    padding: 5px 10px;
}
.present{
    position: relative;
    width: 100px;
    transform: rotate(12deg);
    margin-left: 1.5em;
}
.share-section{
    position: relative;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.text-section{
    position: relative;
    width: 30%;
    height: 100%;
    color: #125D4D;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.text-title{
    font-family: 'Sen-Bold', sans-serif;
}
.text-subtitle{
    font-family: 'OpenSans-Regular', sans-serif;
    margin-top: .8em;
    line-height: 1.3em;
}
.insta-shot{
    position: relative;
    width: 70%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
}
.insta-shot-img{
    max-width: 90%;
    max-height: 100%;
    box-shadow: 0px 3px 6px #0000002a;
}

.text-subtitle-mobile {
    display: none;
    font-family: 'OpenSans-Regular', sans-serif;
    margin-top: .8em;
    line-height: 1.3em;
}
@media only screen and (max-width: 1024px) {

    .container {
        max-width: 100%;
    }
  
    .share-container{
        width: 100%;
        margin: 50px auto;
    }

    .share-section {
        flex-direction: column-reverse;
    }

    .share-title {
        font-size: 17px;
    }

    .present {
        width: 10%;
    }

    .text-subtitle-mobile {
        display: flex;
    }

    .text-subtitle {
        display: none;
    }

    .text-section {
        width: 100%;
        align-items: center;
        text-align: center;
    }
}

@media only screen and (max-width: 800px) { 
    .roadmap {
        flex-direction: column;
    }
    .step:nth-of-type(even) .step-header { 
        flex-direction: row-reverse;
        justify-content: space-between;
    }

    .step:nth-of-type(even) .step-header h2 { 
        margin: 0 1.2em 0 0;
    }

    .step {
        max-width: 80%;
        margin: 0px auto;
    }

    .step-title {
        font-size: 20px;
    }
    .step-number {
        border-radius: 50%;
        width: 1.4em;
        height: 1.4em;
        font-size: 28px;
    }
}