/* -=-=-=-=-=- GENERAL CSS -=-=-=-=-=- */

html {
    font-size: 12px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 17px;
    }
}

/* -=-=-=-=-=- FONTS -=-=-=-=-=- */
@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Regular.woff2");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url("../assets/fonts/OpenSans-Bold.woff2");
}
@font-face {
    font-family: "OpenSans-BoldItalic";
    src: url("../assets/fonts/OpenSans-BoldItalic.woff2");
}
@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("../assets/fonts/OpenSans-ExtraBold.woff2");
}
@font-face {
    font-family: "OpenSans-ExtraBoldItalic";
    src: url("../assets/fonts/OpenSans-ExtraBoldItalic.woff2");
}
@font-face {
    font-family: "OpenSans-Italic";
    src: url("../assets/fonts/OpenSans-Italic.woff2");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../assets/fonts/OpenSans-Light.woff2");
}
@font-face {
    font-family: "OpenSans-LightItalic";
    src: url("../assets/fonts/OpenSans-LightItalic.woff2");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../assets/fonts/OpenSans-SemiBold.woff2");
}
@font-face {
    font-family: "OpenSans-SemiBoldItalic";
    src: url("../assets/fonts/OpenSans-SemiBoldItalic.woff2");
}
@font-face {
    font-family: "Sen-Regular";
    src: url("../assets/fonts/Sen-Regular.woff2");
}
@font-face {
    font-family: "Sen-Bold";
    src: url("../assets/fonts/Sen-Bold.woff2");
}
@font-face {
    font-family: "Sen-ExtraBold";
    src: url("../assets/fonts/Sen-ExtraBold.woff2");
}




/* -=-=-=-=-=- NAV -=-=-=-=-=- */

nav {
    position: relative;
    background: #125D4D;
    color: white;
    width: 100%;
    height: 65px;
    margin-top: 65px;
    box-shadow: 0px 3px 6px #0000001a;
}
.nav-content{
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    position: relative;
    width: 176px;
    top: 0;
    z-index: 999;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 0px 3px 6px #0000001a;

}
.nav-left>*{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-logo{
    position: relative;
    flex-shrink: 0;
    width: 80%;
}
.nav-middle{
    width: 65%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.nav-middle  a, .nav-middle-mobile a {
    padding: 24px 20px;
    color: white;
    font-family: "Sen-Regular", sans-serif;
    text-decoration: none;
    transition: .2s
}
.nav-middle  a:hover ,.nav-middle-mobile a:hover {
    background-color: #27B295;
    color: white;
}

.nav-right svg {
    height: 40px;
    width: auto;
    fill: white;
    margin-left: 20px;
    padding: 12.5px 0;
    transition: .22s;
}
.nav-right svg:hover {
    cursor: pointer;
    fill: #32E0BC;
}
.menu-icon{
    display: none;
}

.nav-middle-mobile {
    display: none;
    width: 65%;
    height: 100%;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.nav-right-mobile {
    display: none;
}
@media only screen and (max-width: 800px) {
    .nav-right, .nav-middle {
        display: none;
    }
    .nav-middle-mobile {
        display: flex;
    }
}
/* Putting the footer at the bottom */
html{
    height: 100%;
}
body{
    height: 100%;
}

main{
    position: relative;
    min-height: 100%;
}
.wrapper{
    position: relative;
    width: 100%;
    height: 100%;
}
footer{
    position: relative;
    width: 100%;
    background-color: #125D4D;
}
footer::before{
    position: relative;
    height: 275px;
}
.footer-content{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}
.footer-frame{
    position: relative;
    max-width: 210px;
    min-width: 25%;
}
.footer-title{
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 20px;
    color: #fff;
    margin-bottom: 1em;
}
.footer-paragraph{
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2em;
    max-width: 210px;
}

.footer-link{
    font-family: "OpenSans-Italic", sans-serif;
    font-size: 14px;
    color: #fff;
    transition: .3s;
    justify-self: flex-end;
    max-width: 210px;
    width: 25%;
}

.footer-link:hover {
    color: #32E0BC;
}
.copyright{
    font-family: "OpenSans-Light", sans-serif;
    font-size: 18px;
    color: #fff;
    width: 25%;
}
.links{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: .5em;
}
.socialmedia-paragraph{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
}
.socialmedia-icon{
    /*fill: #fff;*/
    height: 32px;
    width: 32px;
}
.socialmedia{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    transition: .3s;
    fill: #fff;
    color: #fff;
    margin-bottom: .4em;
}
.socialmedia:hover{
    fill: #32E0BC;
    color: #32E0BC;
}
.socialmedia-title{
    margin-left: 20px;
    font-size: 20px;
    font-family: "OpenSans-Light", sans-serif;
}

.footer-content-mobile {
    display: none;
    position: relative;
    width: 1000px;
    margin: 0 auto;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 50px 0;
}


@media only screen and (max-width: 1024px) {

    .footer-frame{
        padding: 20px 30px;
        min-width: 210px;
        text-align: center;
    }

    .footer-content-mobile {
        display: unset;
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .footer-content {
        display: none;
    }

    .footer-paragraph {
        margin-bottom: 15px;
        line-height: 1.2em;
        font-weight: 100;
    }
    .links {
        flex-wrap: wrap;
        justify-content: center;
    }

    .copyright, .footer-link {
        width: 210px;
        text-align: center;
    }
    .copyright {
        margin-top: 20px;
    }
}
.button{
    font-family: 'Sen-Bold', sans-serif;
    color: #fff;
    font-size: 20px;
    padding: .6em 2.2em;
    box-sizing: border-box;
    background-color: #27B295;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
    border-radius: 100px;
    text-decoration: none;
    transition: .3s;
    box-shadow: 0 3px 6px #0000001a;
}
.button:hover{
    background-color: #fff;
    color: #27B295;
    box-shadow: 0 3px 6px #0000001a;
}

.menu-float {
    right: calc(50% - 500px);
    z-index: 6;
    top: 75px;
    background: white;
    width: 200px;
    position: absolute;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #0000001a;
    display: none;
}

.float-text {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background-color: #125D4D;
    font-family: "OpenSans-Regular", sans-serif;
    justify-content: space-between;
    display: flex;
    align-items: center;
    padding: 15px
}


.float-links {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* floating cart */
.cart-float {
    right: calc(50% - 500px);
    z-index: 6;
    top: 75px;
    background: white;
    width: 200px;
    position: absolute;
    height: auto;
    border-radius: 8px;
    box-shadow: 0px 3px 6px #0000001a;
}
.winkelmandje-info {
    font-family: "OpenSans-Regular", sans-serif;
    color: rgba(18, 93, 77, 0.5);
    margin: 20px;
    font-size: 15px;
    line-height: 1.2em;
    align-items: center;
    display: flex;
    justify-content: space-between;
}
.winkelmandje-info p {
    margin-bottom: 0px !important;
}
.cart-float .nav-register {
    background: #27B295;
    color: #fff;
    padding: 15px 0px;
    font-weight: 900;
    font-family: 'Sen-Bold', sans-serif;
}
.cart-float .nav-register:hover {
    background: white;
    color: #27B295;
}

/* floating shop */
.shop-float {
    right: calc(50% - 425px);
    z-index: 6;
    border-top: #27B295 10px solid;
    top: 90px;
    width: 500px;
    background: white;
    position: absolute;
    height: auto;
    font-family: "OpenSans-Regular", sans-serif;
    color: #125D4D;
    line-height: 20px;
    font-weight: 100;
    border-radius: 25px;
    border-top-right-radius: 0px;
    border-top-left-radius: 12px;
    padding: 15px 30px 20px 30px;
    box-shadow: 0px 3px 6px #0000001a;
    display: none;
}
.shop-float::after {
    content: '';
	position: absolute;
	top: 0px;
    right: 0;
	width: 0;
	height: 0;
	border: 30px solid transparent;
	border-bottom-color: #27B295;
	border-top: 0;
	border-right: 0;
	margin-left: -17px;
	margin-top: -34px;
}
.shop-intro {
    font-size: 18px;
    display: flex;
    margin-bottom: 10px;
    font-family: 'Sen-Bold', sans-serif;
    flex-direction: row;
    font-weight: 900;
    justify-content: space-between;
}
.shop-intro .close-btn {
    fill: #125D4D;
}

.nav-login {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0px;
    color: rgba(18, 93, 77, 0.726);
    text-decoration: none;
    font-weight: 100;
    font-family: "OpenSans-Regular", sans-serif;
    border-bottom: 1px solid;
    transition: .3s ease;
}
.nav-login:hover, .nav-register:hover{
    background-color: #27B295;
    color: #fff;
}

.nav-register  {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0px;
    font-weight: 100;
    font-family: "OpenSans-Regular", sans-serif;
    color: rgba(18, 93, 77, 0.726);
    text-decoration: none;
    transition: .3s ease;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
.close-btn{
    fill: #fff;
    transition: .3s ease;
}
.close-btn:hover{
    cursor: pointer;
    fill: #32E0BC;
}
.menu-icon{
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
    width: 40px;
    height: 40px;
    fill: #fff;
}

@media only screen and (max-width: 1024px) {
    .nav-content{
        width: auto;
    }
    .nav-middle, .nav-right{
        display: none;
    }
    .nav-left {
        margin-left: 20px;
        z-index: 2;
    }
    .sidenav{
        z-index: 999;
        font-family: 'Sen-Bold', sans-serif;
    }
    .nav-middle-mobile a {
        padding: 25px 20px;
        font-size: 18px;
        font-family: 'Sen-Bold', sans-serif;
    }
    .menu-icon{
        display: block;
    }
    .shop-float {
        display: none;
    }
    .cart-float{
        display: none;
    }

    .nav-active {
        background: #0e493c;
    }
}