/* -=-=-=-=-=- GENERAL CSS -=-=-=-=-=- */

html {
    font-size: 12px;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

@media screen and (min-width: 800px) {
    html {
        font-size: 17px;
    }
}

/* -=-=-=-=-=- FONTS -=-=-=-=-=- */
@font-face {
    font-family: "OpenSans";
    src: url("../assets/fonts/OpenSans-Regular.woff2");
}
@font-face {
    font-family: "OpenSans-Bold";
    src: url("../assets/fonts/OpenSans-Bold.woff2");
}
@font-face {
    font-family: "OpenSans-BoldItalic";
    src: url("../assets/fonts/OpenSans-BoldItalic.woff2");
}
@font-face {
    font-family: "OpenSans-ExtraBold";
    src: url("../assets/fonts/OpenSans-ExtraBold.woff2");
}
@font-face {
    font-family: "OpenSans-ExtraBoldItalic";
    src: url("../assets/fonts/OpenSans-ExtraBoldItalic.woff2");
}
@font-face {
    font-family: "OpenSans-Italic";
    src: url("../assets/fonts/OpenSans-Italic.woff2");
}

@font-face {
    font-family: "OpenSans-Light";
    src: url("../assets/fonts/OpenSans-Light.woff2");
}
@font-face {
    font-family: "OpenSans-LightItalic";
    src: url("../assets/fonts/OpenSans-LightItalic.woff2");
}
@font-face {
    font-family: "OpenSans-SemiBold";
    src: url("../assets/fonts/OpenSans-SemiBold.woff2");
}
@font-face {
    font-family: "OpenSans-SemiBoldItalic";
    src: url("../assets/fonts/OpenSans-SemiBoldItalic.woff2");
}
@font-face {
    font-family: "Sen-Regular";
    src: url("../assets/fonts/Sen-Regular.woff2");
}
@font-face {
    font-family: "Sen-Bold";
    src: url("../assets/fonts/Sen-Bold.woff2");
}
@font-face {
    font-family: "Sen-ExtraBold";
    src: url("../assets/fonts/Sen-ExtraBold.woff2");
}




/* -=-=-=-=-=- NAV -=-=-=-=-=- */

nav {
    position: relative;
    background: #125D4D;
    color: white;
    width: 100%;
    height: 65px;
    margin-top: 65px;
    box-shadow: 0px 3px 6px #0000001a;
}
.nav-content{
    position: relative;
    width: 1000px;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    position: relative;
    width: 176px;
    top: 0;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f9f9f9;
    box-shadow: 0px 3px 6px #0000001a;

}
.nav-left>*{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.nav-logo{
    position: relative;
    flex-shrink: 0;
    width: 80%;
}
.nav-middle{
    width: 65%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.nav-middle  a {
    padding: 24px 20px;
    color: white;
    font-family: "Sen-Regular", sans-serif;
    text-decoration: none;
    transition: .2s
}
.nav-middle  a:hover {
    background-color: #27B295;
    color: white;
}

.nav-right svg {
    height: 40px;
    width: auto;
    fill: white;
    margin-left: 20px;
    padding: 12.5px 0;
    transition: .22s;
}
.nav-right svg:hover {
    fill: #32E0BC;
}

main{
    max-height: 100vh;
}

footer{
    position: relative;
    width: 100%;
    background-color: #125D4D;
}
.footer-content{
    position: relative;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 50px 0;
}
.footer-frame{
    position: relative;
    max-width: 210px;
    min-width: 25%;
}
.footer-title{
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 20px;
    color: #fff;
    margin-bottom: 1em;
}
.footer-paragraph{
    font-family: "OpenSans-Regular", sans-serif;
    font-size: 16px;
    color: #fff;
    line-height: 1.2em;
    max-width: 210px;
}

.footer-link{
    font-family: "OpenSans-Italic", sans-serif;
    font-size: 14px;
    color: #fff;
    transition: .3s;
    justify-self: flex-end;
    max-width: 210px;
    width: 25%;
}

.footer-link:hover {
    color: #32E0BC;
}
.copyright{
    font-family: "OpenSans-Light", sans-serif;
    font-size: 18px;
    color: #fff;
    width: 25%;
}
.links{
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: .5em;
}
.socialmedia-paragraph{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-items: flex-start;
    align-items: flex-start;
}
.socialmedia-icon{
    /*fill: #fff;*/
    height: 32px;
    width: 32px;
}
.socialmedia{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    text-decoration: none;
    transition: .3s;
    fill: #fff;
    color: #fff;
    margin-bottom: .4em;
}
.socialmedia:hover{
    fill: #32E0BC;
    color: #32E0BC;
}
.socialmedia-title{
    margin-left: 20px;
    font-size: 20px;
    font-family: "OpenSans-Light", sans-serif;
    /*color: #fff;*/
}