
.about {
    background-image:
    linear-gradient(to bottom, #00000036, #00000036),
    url('../assets/images/fishers-sweden.jpg');
    background-size: cover;
    height: 790px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 1000px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Sen-Regular", sans-serif;
}

.about-intro {
    position: absolute;
    bottom: 120px;
    width: auto;
    height: auto;
    background: #125D4D;
    color: white;
    text-align: center;
    padding: 24px 31px;
}


.about-intro span {
    font-family: "Sen-Bold", sans-serif;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 20px;
}

.light {
    font-family: "Sen-Regular", sans-serif;
    font-weight: 100;
    font-size: 20px;
    margin-top: 20px;
    line-height: 25px;
}

.quote {
    font-family: "Sen-Bold", sans-serif;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 900;
    max-width: 525px;
}

.name {
    font-size: 25px;
    margin-bottom: 30px;
}

.about-fishing {
    line-height: 23px;
    font-family: "Sen-Regular", sans-serif;
    font-size: 17px;
    max-width: 500px;
}

.person-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 75px 0px;
}

.fisher-img {
    max-width: 400px;
}

.about-contact {
    margin-top: 0px;
    width: 100%;
    background-color: #125D4D;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    padding-left: 30%;
    text-align: right;
}

.contact-info span {
    font-weight: 900;
    font-size: 25px;
    font-family: "Sen-Bold", sans-serif;
}

.contact-info a, .contact-info p {
    color: white;
    text-decoration: none;
    font-family: "Sen-Regular", sans-serif;
    margin-top: 10px;
}

.kopje {
    margin-top: 20px;
}

.contact-img {
    margin-top: 0px !important;
    background-image:
    linear-gradient(to bottom, rgba(172, 206, 116, 0.250),rgba(172, 206, 116, 0.250) ),
    url('../assets/images/mediacollege-bass-pro.png');
    width: 860px;
    height: 600px;
    background-position: center;
    background-size: cover;
}