.profile {
    background-image:
        linear-gradient(to bottom, #00000036, #00000036),
        url('../assets/images/profilebackground.png');
    background-size: cover;
    height: 700px;
    background-repeat: no-repeat;
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.container {
    position: relative;
    width: 1000px;
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: "Sen-Open", sans-serif;
}

.container span:first-child {
    font-size: 42px;
    margin-bottom: 40px;
    font-weight: 900;
    font-family: "Sen-Bold", sans-serif;
    color: #125D4D;
}

.container span {
    font-size: 25px;
    font-weight: 900;
    margin-bottom: 30px;
    font-family: "Sen-Bold", sans-serif;
    color: #125D4D;
}

.profile-intro {
    position: absolute;
    bottom: 120px;
    width: auto;
    height: auto;
    background: #125D4D;
    color: white;
    text-align: center;
    padding: 24px 31px;
}


.profile-intro span {
    font-family: "Sen-Bold", sans-serif;
    font-size: 42px;
    font-weight: 900;
    margin-bottom: 20px;
}

.profile-block,
.subscription-box,
.profilechange-block {
    padding: 50px 50px 30px 50px;
    width: 50%;
    border-top: 5px #27B295 solid;
    background: white;
    color: #125D4D;
    display: flex;
    margin-bottom: 30px;
    flex-direction: column;
    box-shadow: 0px 3px 6px #0000001a;
    border-radius: 8px;
}

.profilechange-block, .subscription-box {
    width: 100%;
}
.profile-block div {
    display: flex;
    color: #125D4D;
    margin: 6px 0px;
    flex-direction: row;
    justify-content: space-between;
}

@media only screen and (max-width: 1024px) {
    .profile-intro {
        padding: 24px 0;
        bottom: 1px;
        top: unset;
        width: 100%;
        z-index: 2;
    }
    .container {
        width: 100%;
    }
}

.register-inputs {
    display: flex;
}

.profile-block a,
.subscription-box a,
.profilechange-block a {
    padding: 15px 20px;
    align-items: center;
    text-decoration: none;
    font-family: "Sen-Bold", sans-serif;
    color: white;
    box-sizing: border-box;
    min-width: 203px;
    border: none;
    margin: 8px auto;
    text-align: center;
    border-radius: 50px;
    background-color: #27B295;
    box-shadow: 0px 3px 6px #0000001a;
}

.subscription-box {
    text-align: center;
    font-family: "OpenSans";
}

.subscription-box span,
.chosen-box span {
    font-family: "OpenSans";
    font-weight: 100 !important;
}

.subscription-box span:first-child,
.chosen-box span:first-child {
    font-size: 20px;
    font-family: "OpenSans";
    margin-bottom: 10px;
}

.subscription-box img,
.chosen-box img {
    max-width: 50%;
    height: auto;
    margin: 0px auto;
}

.last {
    padding-bottom: 30px;
}

input {
    color: #125D4D;
    padding: 7.5px 0px 7.5px 20px;
    width: 80%;
    border: 0.3px solid #000;
    border-radius: 8px;
    resize: none;
}

input[type="radio"],
.inputs input {
    -ms-transform: scale(1.5);
    /* IE 9 */
    -webkit-transform: scale(1.5);
    /* Chrome, Safari, Opera */
    transform: scale(1.5);
    margin: 5px 10px;
    width: auto;
}

.register-help {
    padding: 25px 20px 25px 20px;
    width: 300px;
    border-radius: 4px;
    border-top: 5px #27B295 solid;
    background: white;
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    box-shadow: 0px 3px 6px #0000001a;
}

.register-help p {
    margin-top: 3px;
}

.register-inputs input {
    max-width: 80%;
}

.user-credentials p,
.user-payment p {
    margin: 20px 0px;
    font-family: "OpenSans-Italic";
}

.register-help span {
    font-size: 25px !important;
    margin-bottom: 20px !important;
}

.register-help p {
    font-family: "OpenSans";
}

::placeholder {
    color: rgba(18, 93, 77, 0.493);
}

.profilechange-block p:first-child {
    margin: 20px 0px;
}

p:nth-child(2) {
    margin-bottom: 10px;
    /*width: 50%;*/
}

.button-change {
    margin: 20px 0px !important;
    width: 300px;
}

.left {
    padding-left: 100px;
    text-align: left !important;
    font-family: "OpenSans-Italic", sans-serif;
    color: rgba(18, 93, 77, 0.849);
}

.user-credentials input {
    max-width: 300px;
}

.register-help p {
    margin: 2px 0px;
}


.bank-help {
    padding: 10px 40px 10px 20px;
    width: 300px;
    border-radius: 4px;
    border-top: 5px #27B295 solid;
    background: white;
    display: flex;
    margin: 20px 0px;
    flex-direction: column;
    box-shadow: 0px 3px 6px #0000001a;
}

.bank-help p {
    margin-top: 3px;
    font-size: 13px;
    font-family: "OpenSans";
    line-height: 18px;
}

.bank-help span {
    font-size: 20px !important;
    font-family: "OpenSans-Bold", sans-serif !important;
    margin-bottom: 15px !important;
}

select {
    color: #125D4D;
    padding: 7.5px 4px 7.5px 15px;
    width: 80%;
    border: 0.3px solid #000;
    border-radius: 8px;
    resize: none;
    max-width: 300px;
}

.ideal {
    width: 40px;
    margin-left: 20px;
}

.payment {
    margin-left: 100px;
}

.chosen-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0px;
}

.chosen-box p {
    font-family: "Sen-Regular", sans-serif;
    font-size: 25px;
    color: black;
    font-weight: 100;
}

.top-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.top-info a {
    padding: 0;
    align-items: unset;
    text-decoration: underline;
    font-family: "Sen-Regular", sans-serif;
    margin-right: 50px;
    color: #27B295;
    border: none;
    text-align: unset;
    border-radius: unset;
    background-color: transparent;
    box-shadow: none;
}
.price-tag{
    margin-bottom: 2em;
    font-size: 1em;
    color: #000;
}
.price{
    font-size: 1.5em;
    font-family: 'Sen-Regular', sans-serif;
    margin-bottom: 20px;
    font-weight: 100;
    color: #000;
}
.box-title{
    font-family: 'OpenSans-Regular', sans-serif;
}